body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-size: 18px;
    background-color: #6871A7;
}

.header, footer {
    background-color: #09355B;
    color: #5C6ED1;
    padding: 30px;
}

.nav ul {
    list-style-type: none;
}
.nav ul li a {
    text-decoration: none;
    background-color:#09355B;
    border: 2px solid black;
    color: #5C6ED1;
    padding: 8px;
}

.nav ul li a:hover {
    background-color:#072641;
    border:2px solid #5C6ED1;
}

.nav2 ul {
        list-style-type: none;
    }
    
    .nav2 ul li a {
        text-decoration: none;
        background-color:#09355B;
        border: 2px solid black;
        color: #5C6ED1;
        padding: 8px;
    }
    
    .nav2 ul li a:hover {
        background-color:#072641;
        border: 2px solid #5C6ED1;
    }
    
    
   
        .form-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #6871A7;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .head3 {
            text-align: center;
        }
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #09355B;
            border-radius: 4px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #09355B;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #072641;
        }

        .form2 {
            text-align: center;
        }